h1{
    text-align: center;
    color: navy;
}
h2{
    text-align: center;
    color: red;
    font-size: 35px;
}
p{
    width: 650px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}
div{
    width: 680px;
    margin: auto;
    border: 1px solid blue;
    padding-bottom: 10px;
}